@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        Background-color: #fed966;
    }
    #picture {

    }
    #statement {
        margin: auto auto 20px auto;
    }
    #reasons {

    }
    #bolded {
        margin: auto auto 20px auto;
    }
    #banner {
        text-align: left;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #333;
    }

    h1 {
        position: relative;
        bottom: 50px;
        margin-right: 10px;
    }
    .banner-image {
        width: 100%;
        height: 200px;
        margin: auto auto 50px auto;
    }
    .center {
        text-align: center;
        margin: auto;
        position: relative;
        top: 320px;
        right: 110px;
    }
</style>
<body>
    <div>
        <div id="banner">
            <h1>
                <b><i><u>Property Taxes</u></i></b>
            </h1>
        </div>
        <div id="picture">
            <img class="banner-image"src="~/css/property.png" alt="" />
        </div>
        <div id="statement">
            <b>Property Taxes are increasing while enrollment is decreasing.</b>
        </div>
        <div id="reasons">
            <ol>
                <li>
                    From 2016-2020, student enrollment has decreased by 673 children while the school budget has increased by $11,736,000.
                </li>
                <li>
                    Per student spending has increased from $17,866 to $22,090 during the same period.
                </li>
                <li>
                    Projected spending per student for the 2021-2022 school year is $22,386 with $15,055 related to classroom expenditures.
                </li>
            </ol>
        </div>
        <div id="bolded">
            <b>All residents benefit from having a strong school system.  However, the cost of that needs to be balanced with the needs of the community and tied to objectives that will improve the quality of education for our children.</b>
        </div>
        <div>
            Throughout my career, I have used Lean Six Sigma and Design Thinking methodologies to help organizations create efficiencies focusing on People, Process and Technology.  By partnering with the administration, I will work to help the district realize these efficiencies related to costs but also to help focus district spending on initiatives tied to specific objectives.  Through process and technology improvements, the district can realize cost reductions and advance the district into state-of-the-art processes and tools and provide additional STEM related opportunities to the students.
        </div>
    </div>
</body>