@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    body {
        Background-color: #fed966;
    }

    #banner {

    }
    #Form_1 {
        display: block;
        border: 2px solid #333;
        background-color: #b6ff00;
        margin: 50px auto auto auto;
    }
    #Form_2 {
        display: block;
        border: 2px solid #333;
        background-color: #b6ff00;
        margin: 50px auto auto auto;
    }
    #Volunteer-form {
        display: block;
        border: 2px solid #333;
        background-color: #b6ff00;
    }
    .center {
        text-align: center;
        margin: auto;
        position: relative;
        top: 320px;
        right: 110px;
    }
    #contact-form {
        display: block;
        border: 2px solid #333;
        background-color: #b6ff00;
    }
    #name {

    }
    #email {

    }
    #address {

    }
    #Phone_number {

    }
    #About_them-label {

    }
    #Contact-label {

    }
    .form-control {
        display: block;
        width: 100%;
        height: 2.375rem;
        padding: 0.375rem 0.75rem;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-group {
        margin: 0 auto 1.25rem auto;
        padding: 0.25rem;
    }
    .input-checkbox {
        display: inline-block;
        margin-right: 10px;
        min-height: 1.25rem;
        min-width: 1.25rem;
    }
    .center-column {

    }
    h1 {
        margin-right: 10px;
        position: relative;
        bottom: 50px;
    }
    h2{ 
        margin: auto auto auto 10px;
    }
    .border {
        border: 5px solid #333;
    }
    .input-checkbox {
        display: inline-block;
        margin-right: 0.625rem;
        min-height: 1.25rem;
        min-width: 1.25rem;
    }
    hr {
        border: none;
        height: 2px;
        color: #333;
        background-color: #333;
    }

</style>
<body>
    <div class="center-column">
        <div id="banner">
            <h1>
                <b><i><u>Volunteer / Contact Us</u></i></b>
            </h1>
        </div>
        <div class="border" id="Form_1">
            <form id="Volunteer-form">
                <div>
                    <h2>
                        <b>Volunteer</b>
                    </h2>
                </div>
                <div>
                    <hr />
                </div>
                <div class="form-group">
                    <label>
                        <input name="prefer"
                               value="Knock_on_doors"
                               type="checkbox"
                               class="input-checkbox" /><b>Knock on Doors</b> | Canvas your neighborhood for us
                    </label>
                    <br />
                    <label>
                        <input name="prefer"
                               value="Make_calls_at_home"
                               type="checkbox"
                               class="input-checkbox" /><b>Make Calls at Home</b> | Call individuals at home for us
                    </label>
                    <br />
                    <label>
                        <input name="prefer"
                               value="Host_an_event"
                               type="checkbox"
                               class="input-checkbox" /><b>Host an Event</b> | Host an event at your house for us
                    </label>
                    <br />
                    <label>
                        <input name="prefer"
                               value="Display_lawn_sign"
                               type="checkbox"
                               class="input-checkbox" /><b> Display Lawn Sig></b> | Display a campaign sign for us
                    </label>
                    <br />
                    <label>
                        <input name="prefer"
                               value="Social_media_support"
                               type="checkbox"
                               class="input-checkbox" /><b>Support Us on Social Media</b> | Post a supportive message for us
                    </label>
                    <div class="form-group">
                        <label id="name-label" for="name"></label>
                        <input type="text"
                               name="text"
                               id="name"
                               class="form-control"
                               placeholder="Full Name*"
                               required />
                    </div>
                    <div class="form-group">
                        <label id="address-label" for="address"></label>
                        <input type="text"
                               name="text"
                               id="address"
                               class="form-control"
                               placeholder="Address*"
                               required />
                    </div>
                    <div class="form-group">
                        <label id="email-label" for="email"></label>
                        <input type="email"
                               name="email"
                               id="email"
                               class="form-control"
                               placeholder="Enter your email*"
                               required />
                    </div>
                    <div class="form-group">
                        <label id="number-label" for="Phone_number"></label>
                        <input type="text"
                               name="Phone_Number"
                               id="Phone_number"
                               class="form-control"
                               placeholder="Phone #" />
                    </div>
                    <div class="form-group">
                        <label id="About_them-label" for="About_them"></label>
                        <input type="text"
                               name="About_them"
                               id="About_them"
                               class="form-control"
                               placeholder="Tell us about yourself" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="submit" class="submit-button">
                            Take Action
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="border" id="Form_2">
            <form id="contact-form">
                <div>
                    <h2>
                        <b>Contact Us</b>
                    </h2>
                </div>
                <div>
                    <hr />
                </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label id="name-label" for="name"></label>
                            <input type="text"
                                   name="text"
                                   id="name"
                                   class="form-control"
                                   placeholder="Full Name*"
                                   required />
                        </div>
                        <div class="form-group">
                            <label id="email-label" for="email"></label>
                            <input type="email"
                                   name="email"
                                   id="email"
                                   class="form-control"
                                   placeholder="Email*"
                                   required />
                        </div>
                        <div class="form-group">
                            <label id="number-label" for="Phone_number"></label>
                            <input type="text"
                                   name="Phone_Number"
                                   id="Phone_number"
                                   class="form-control"
                                   placeholder="Phone #" />
                        </div>
                        <div class="form-group">
                            <label id="Contact-label" for="Contact_them"></label>
                            <input type="text"
                                   name="Contact"
                                   id="Contact"
                                   class="form-control"
                                   placeholder="Type your message here*"
                                   required />
                        </div>
                        <div class="form-group">
                            <button type="submit" id="submit" class="submit-button">
                                Send
                            </button>
                        </div>
                    </div>
            </form>
            </div>
        </div>
</body>